*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.template{
    width: 80vw;
    margin: 0 auto;
}
header{
    height: 200px;
    background-color: yellow;
    margin-bottom: 10px;
}
.corpo{
    height: 500px;
    background-color: white;
}
section{
    width: 25%;
    height: 100%;
    background-color: mediumorchid;
    float: left;
}
main {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 10px;
}
main .content{
    height: 100%;
    background-color: purple;
}
footer{
    height: 100px;
    margin-top: 10px;
    background-color: powderblue;
}
